motosphere-backend/src/main/resources/application.properties
payment-service/src/main/resources/application.properties


.metadata/
target/
uploads/
.env
.classpath
.project
.factorypath
.settings/
node_modules/
dist/
*.log